.header-container{
    background-color: #333;
}
.header-container a{
    text-decoration: none;
    color: white;
}
.nav-text{
    font-family: MV Boli;
}
.logout-btn{
    text-decoration: none;
    border: none;
    outline: none;
}